<h1>Congratulations on your newest purveyor, Pierre</h1>
<p>It's comforting to know we will avoid the existential abyss of businesslessness. Use the following form to add your new purveyor to the system.</p>

<form action='/vendors' method='post'>
  <label for='name'>Enter a name:<label>
    <input id='name' name='name' type='text'>
  <label for='description'>Enter a short description:</label>
    <input id='description' name='description' type='text'>
  <button type='submit'>Create</button>
</form>

<p><a href='/vendors'>Return to your purveyors</a></p>
<p><a href='/'>Return home</a></p>