@using PierresVendors.Models;

<h1>@Model["vendor"].Name</h1>
<ul>
  <li>@Model["vendor"].Description</li>
</ul>

<p><a href='/vendors/'>Return to your vendors</a></p>
<p><a href='/'>Return home</a></p>